@if (characterSelection.selectedPoint; as currentSelectedPoint) {
<!-- prettier-ignore -->
@let markerPlacement = calcSelectorMarkerPlacement(currentSelectedPoint.absolute);
@let menuPlacement = calcSelectorMenuPlacement(markerPlacement);
<div
  [style]="generatePlacementStyle(markerPlacement)"
  aria-label="Character selector marker"
  class="absolute z-10 border-black border-3 bg-transparent"
></div>
<div
  aria-label="Character selector menu"
  class="absolute z-10 border-black border-2 bg-white"
  [style]="generatePlacementStyle(menuPlacement)"
>
  @for (c of characters.data; track c.src) {
  <!-- prettier-ignore -->
  <div 
      [class]="`absolute border-1 w-1/2 h-1/2`"
      [style]="`
      top: ${$index < ($count / 2) ? 0 : 50}%; 
      left: ${$even ? 0 : 50 }%;
      `"
    >
      <img fill [ngSrc]="c.src" [alt]="c.alt" />
    </div>
  }
</div>
}
