@let finderCreated = !!finder();
<!-- prettier-ignore -->
@let _loading = loading();
@let foundCharacters = characterSelection.getFoundCharacters();
<div
  aria-atomic="false"
  aria-relevant="all"
  aria-live="assertive"
  class="text-center border-1 border-t-0 *:border-t-1 *:border-black"
>
  <div class="flex justify-center pt-2">
    @for (character of characters.data; track character.name) {
    <!-- prettier-ignore -->
    @let size = 45;
    @let found = foundCharacters.includes(character.name);
    <img
      [width]="size"
      [height]="size"
      [ngSrc]="character.image.src"
      [alt]="`${character.image.alt} (${found ? '' : 'not'} found)`"
      [class]="found ? '' : 'saturate-70 opacity-70'"
    />
    }
  </div>
  @let _notification = notifier.notification;
  <div
    class="p-2 space-y-1 bg-black text-white font-bold"
    [class]="{
      'bg-red-700': _notification.type === 'error',
      'bg-green-700': _notification.type === 'success'
    }"
  >
    <p>{{ _notification.message || 'Please help us find Waldo and his friends.' }}</p>
    <button
      type="button"
      (click)="finderCreated ? escape() : start()"
      [disabled]="_loading || _notification.type !== 'normal'"
      [class]="`text-sm py-1 px-2 min-w-24 shadow-sm border-1 rounded-lg cursor-pointer 
        disabled:text-gray-300 disabled:border-gray-300 active:not-disabled:bg-gray-500`"
    >
      @if(finderCreated){Escape}@else{Start@if(_loading){ing...}}
    </button>
  </div>
  @if (finderCreated) {
  <app-stats
    class="border-t-1"
    [foundCharacters]="characterSelection.getFoundCharacters().length"
  />
  <div>
    <div class="relative overflow-hidden">
      <div class="pt-[63.3984%]">
        <!-- Fill the parent's height relative to its width (old school `aspect-ratio`) -->
      </div>
      <button
        type="button"
        [class]="{ 'saturate-25': _loading }"
        [class]="`focus-visible:outline-none focus-visible:inset-ring-2 inset-ring-black/20
        absolute top-0 left-0 right-0 bottom-0`"
        (click)="!_loading && selectCharacter($event)"
      >
        <img
          fill
          #crowd
          priority
          ngSrc="/where-is-waldo-winter.jpg"
          alt="An illustration of a crowd of people skiing on an icy mountain, where you can find Waldo and his friends."
          class="absolute top-0 left-0 right-0 bottom-0 -z-10"
        />
      </button>
      @if (_loading) {
      <span class="absolute top-0 left-0 right-0 bottom-0 bg-white/75 animate-pulse"></span>
      }
    </div>
    @if (characterSelection.selectedPoint && characterSelection.imageElement) {
    <app-character-menu
      [imageElement]="characterSelection.imageElement"
      [selectedPoint]="characterSelection.selectedPoint"
      (characterSelected)="evaluateSelectedCharacter($event)"
    />
    }
  </div>
  } @else {
  <app-finder-list class="border-t-1" />
  }
</div>
