<div class="text-center border-1 border-t-0 *:border-t-1 *:border-black">
  <div class="flex justify-center p-2 pb-0">
    @for (character of characters.data; track character.name) {
    <!-- prettier-ignore -->
    @let size = 45;
    <img [width]="size" [height]="size" [alt]="character.image.alt" [ngSrc]="character.image.src" />
    }
  </div>
  @let _notification = notifier.notification;
  <p
    class="p-2 font-bold"
    [class]="{
      'text-red-700': _notification.type === 'error',
      'text-green-700': _notification.type === 'success'
    }"
  >
    {{ _notification.message || 'Please, help us find Waldo and his friends, ASAP!' }}
  </p>
  @if (!finder()) {
  <button
    type="button"
    (click)="start()"
    [disabled]="loading()"
    [class]="`py-2 px-4 rounded-2xl min-w-32 shadow-sm font-bold border-1 mb-4
      disabled:text-gray-500 active:not-disabled:bg-gray-100 hover:not-disabled:shadow-md`"
  >
    {{`Start${loading() ? 'ing...' : '' }`}}
  </button>
  } @else {
  <app-stats
    class="border-t-1"
    [foundCharacters]="characterSelection.getFoundCharacters().length"
  />
  <div>
    <div class="relative overflow-hidden">
      <div class="pt-[63.3984%]">
        <!-- Fill the parent's height relative to its width (old school `aspect-ratio`) -->
      </div>
      <button
        type="button"
        aria-label="Select a character"
        [class]="{ 'saturate-50': loading() }"
        [class]="`focus-visible:outline-none focus-visible:inset-ring-2 inset-ring-black/20
          absolute top-0 left-0 right-0 bottom-0`"
        (click)="!loading() && selectCharacter($event)"
      >
        <img
          fill
          #crowd
          priority
          ngSrc="/where-is-waldo-winter.jpg"
          alt="A crowded illustration shows Waldo and his friends skiing on an icy mountain."
          class="absolute top-0 left-0 right-0 bottom-0 -z-10"
        />
      </button>
      @if (loading()) {
      <span class="absolute top-0 left-0 right-0 bottom-0 bg-white/50 animate-pulse"></span>
      }
    </div>
    @if (characterSelection.selectedPoint && characterSelection.imageElement) {
    <app-character-menu
      [imageElement]="characterSelection.imageElement"
      [selectedPoint]="characterSelection.selectedPoint"
      (characterSelected)="evaluateSelectedCharacter($event)"
    />
    }
  </div>
  }
</div>
