@let finderList = finders(); @let titleId = 'finder-list-title';
<div class="text-center" [class]="class()" [style]="style()">
  <h2 id="{{ titleId }}" class="py-2 text-2xl font-bold">Finders</h2>
  @if (loading()) {
  <div class="pb-2">Loading finders...</div>
  } @else if (error()) {
  <div class="pb-2">
    <p class="text-red-700 text-sm">Couldn't be loaded.</p>
    <button
      type="button"
      (click)="loadFinders()"
      [class]="`text-red-700 text-xs py-0.5 px-1 border-1 rounded-lg cursor-pointer 
        focus-visible:outline-none focus-visible:ring-1 ring-red-700/25`"
    >
      Try again
    </button>
  </div>
  } @else if (finderList.length) {
  <table attr.aria-labelledby="{{ titleId }}" class="w-full table-fixed">
    <thead>
      <tr class="*:p-2 *:border-y *:border-x *:border-gray-300">
        <th>Name</th>
        <th>Duration</th>
      </tr>
    </thead>
    @for (finder of finderList; track finder.id) {
    <!-- prettier-ignore -->
    @if (finder.duration) {
    <tbody>
      <tr class="*:p-2 *:border-b *:border-x *:border-gray-300">
        <td>{{ finder.name }}</td>
        @let duration = formatDuration(finder.duration);
        <td>
          {{ duration.value }}
          <span class="font-light text-gray-700">{{ duration.unit }}</span>
        </td>
      </tr>
    </tbody>
    } }
  </table>
  } @else {
  <div>There are no finders, yet.</div>
  }
</div>
