<header>
  <nav class="pt-2 px-4 bg-white flex flex-wrap gap-2 *:mx-auto shadow-sm">
    <h1 class="text-4xl font-extrabold text-center text-red-700">Where's Waldo?</h1>
    <div class="self-end flex">
      @let size = 45;
      <img [width]="size" [height]="size" ngSrc="/odlaw.jpg" alt="An illustration of Odlaw." />
      <img [width]="size" [height]="size" ngSrc="/waldo.jpg" alt="An illustration of Waldo." />
      <img [width]="size" [height]="size" ngSrc="/wilma.jpg" alt="An illustration of Wilma." />
      <img
        [width]="size"
        [height]="size"
        ngSrc="/wizard.jpg"
        alt="An illustration of Wizard Whitebeard."
      />
    </div>
  </nav>
</header>
<main>
  @if (selectedPoint(); as currentSelectedPoint) {
  <!-- prettier-ignore -->
  @let markerPlacement = calcSelectionMarkerPlacement(currentSelectedPoint.absolute);
  @let menuPlacement = calcSelectionMenuPlacement(markerPlacement);
  <div aria-label="Character selector" class="*:absolute *:z-10 *:border-black">
    <div
      aria-label="Character selector marker"
      class="border-3 bg-transparent"
      [style]="generatePlacementStyle(markerPlacement)"
    ></div>
    <div
      aria-label="Character selector menu"
      class="border-2 bg-white"
      [style]="generatePlacementStyle(menuPlacement)"
    >
      @for (c of characters; track c.src) {
      <!-- prettier-ignore -->
      <div 
        [class]="`absolute border-1 w-1/2 h-1/2`"
        [style]="`
        top: ${$index < ($count / 2) ? 0 : 50}%; 
        left: ${$even ? 0 : 50 }%;
        `"
      >
        <img fill [ngSrc]="c.src" [alt]="c.alt" />
      </div>
      }
    </div>
  </div>
  }
  <div class="relative w-full max-w-[100vh] mx-auto mt-[10vh] overflow-hidden">
    <div class="pt-[63.3984%]">
      <!-- Fill the parent's height relative to its width (old school `aspect-ratio`) -->
    </div>
    <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
    <img
      fill
      #crowd
      priority
      (click)="selectCharacter($event)"
      ngSrc="/where-is-waldo-winter.jpg"
      alt="A crowded illustration shows Waldo and his friends skiing on an icy mountain."
    />
  </div>
</main>
<router-outlet />
